fastapi==0.119.0
uvicorn==0.37.0
SQLAlchemy==2.0.44
psycopg2-binary==2.9.11
alembic==1.17.0
pydantic==2.12.1
pydantic-settings==2.11.0
python-dotenv==1.1.1
email-validator==2.3.0
loguru==0.7.3
boto3>=1.35.0
botocore>=1.35.0
python-multipart>=0.0.9
watchfiles==1.1.0
httptools==0.7.1
websockets==15.0.1
